body {
   background-image: url(../Liebessen/mandi.jpg);
   background-color: rgb(32, 155, 47);
   background-size: cover;
   background-repeat: no-repeat;
}
ul {
   color: rgb(179, 87, 87);
   font-size: 20px;
   font-weight: 888;

}